<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @photo_info['name'] %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
  </div>

  <div data-role="content_img">
    <img alt="<%= @photo_info['name'] %>" src="<%= @photo_info['image_url'] %>" />
  </div>

</div>
